<p>Welcome to Jemurai Triage!  Thank you for registering for our security services.  To complete the registration process, we need to confirm your email address.</p>

<p>You can confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>We look forward to providing easy to use, high value security services for you and your organization.  Please let us know if there is anything we can do to improve our services.</p>

