<footer>
   <div class="container">
    <div class="row">
		<div class="span10">
      		<ul class="footer-menu">
        		<li>&nbsp;&nbsp;Jemurai, LLC &copy; 2016</li>   
			</ul>
    	</div>
    </div>
   </div>
</footer>
